/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  React CSS Transition Animations
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.slide-in-from-left-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.slide-in-from-left-appear {
  opacity: 0.01;
  transform: translateX(-100%);
}

.slide-in-from-left-enter.slide-in-from-left-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 150ms ease-in-out;
}

.slide-in-from-left-leave {
  opacity: 1;
  transform: translateX(0);
}

.slide-in-from-left-leave.slide-in-from-left-leave-active {
  opacity: 0.01;
  transform: translateX(-100%);
  transition: all 150ms ease-in-out;
}

.slide-in-from-left-appear.slide-in-from-left-appear-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 150ms ease-in-out;
}

.slide-in-from-right-enter {
  opacity: 0.01;
  transform: translateX(100%);
}

.slide-in-from-right-appear {
  opacity: 0.01;
  transform: translateX(100%);
}

.slide-in-from-right-enter.slide-in-from-right-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 150ms ease-in-out;
}

.slide-in-from-right-leave {
  opacity: 1;
  transform: translateX(0);
}

.slide-in-from-right-leave.slide-in-from-right-leave-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 150ms ease-in-out;
}

.slide-in-from-right-appear.slide-in-from-right-appear-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 150ms ease-in-out;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  Pulsate Animation
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.pulsate {
  animation: pulsate 800ms ease-in-out;
  animation-iteration-count: infinite;
  opacity: 0.4;
}

@keyframes pulsate {
  0% { opacity: 0.4; }
  50% { opacity: 1.0; }
  100% { opacity: 0.4; }
}
