/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  Global
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

html, body {
  font-family: sans-serif; color: #333333;

  width: 100%; height: 100%;
  min-width: 320px; min-height: 420px;
  padding: 0; margin: 0;
}

#root {
  width: 100%; height: 100%;
}



