/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  Main Layout
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.wrapper {
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    'sidebar'
    'main';
  grid-gap: 0;

  width: 100%; height: 100%;

  @media screen and (min-width: $mobile_breakpoint) {
    grid-template-areas: 'sidebar main';
    grid-template-rows: 1fr;
    grid-template-columns: $sidebar_width 1fr;
  }
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;

  position: relative;
}
