/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  Messages List
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.messages-list {
  position: absolute; overflow-x: hidden; overflow-y: auto;
  top: 0; right: 0; bottom: 200px; left: 0;

  background-color: whitesmoke;
}

.message {
  padding: 5px;
}

.message-text {
  display: inline-block; padding: 8px 10px;
  box-sizing: border-box; max-width: 70%;
  background-color: gainsboro;
  border-radius: 5px;
}

.message.message--my-message {
  text-align: right;
}

.message.message--my-message .message-text {
  background-color: aquamarine;
}

.message.message--thinking {
  color: grey;
}

.message.message--faded {
  opacity: 0.1;
}

.message.message--highlighted .message-text {
  font-size: 110%;
  background-color: darken(gainsboro, 10%);
}

.message.message--highlighted.message--my-message .message-text {
  background-color: darken(aquamarine, 10%);
}
