/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  Messages List
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.messages-list-wrapper {
  position: absolute; overflow-x: hidden; overflow-y: auto;
  top: 0; right: 0; bottom: 200px; left: 0;

  background-color: lighten($secondary_color, 10%);
}

.messages-list {
  padding: 10px;
}

.message {
  padding: 5px;
}

.message-text {
  display: inline-block; padding: 8px 10px;
  box-sizing: border-box; max-width: 70%;
  background-color: $secondary_color;
  border-radius: 5px;
}

.message-time {
  font-size: 10px; color: $secondary_color;
  display: block; padding: 5px 0;
}

.message.message--my-message {
  text-align: right;
}

.message.message--my-message .message-text {
  background-color: $primary_color;
}

.message.message--thinking {
  color: darken($secondary_color, 30%);
}

.message.message--faded {
  opacity: 0.1;
}

.message.message--highlighted .message-text {
  font-size: 110%;
  background-color: darken($secondary_color, 10%);
}

.message.message--highlighted.message--my-message .message-text {
  background-color: darken($primary_color, 10%);
}
