/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  New Message Input
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.new-message-input {
  position: absolute; overflow: hidden;
  top: auto; right: 0; bottom: 0; left: 0;

  height: $new_message_input_height;

  border-top: 1px solid $secondary_color;
}

.new-message-input > textarea {
  font-size: 14px;
  position: absolute; top: 0; left: 0;

  min-height: 100%; min-width: 100%;
  max-height: 100%; max-width: 100%;

  padding: 10px 15px; box-sizing: border-box;

  border: none; outline: none;

  &::placeholder {
    color: $secondary_color;
  }
}
