@charset "UTF-8";


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  External - Styles
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@import '~reset-css/reset.css';


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  Global - Styles
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

html, body {
  font-family: sans-serif; color: #333333;

  width: 100%; height: 100%;
  padding: 0; margin: 0;
}

#root {
  width: 100%; height: 100%;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  Main Layout - Styles
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.wrapper {
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 280px 1fr;
  grid-template-areas:
    'header header'
    'sidebar main';
  grid-gap: 0;

  width: 100%; height: 100%;
}

.header {
  grid-area: header;

  text-align: center;

  background-color: darkgray;
}

.sidebar {
  grid-area: sidebar;

  background-color: lightgray;
}

.main {
  grid-area: main;

  position: relative;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  Users List - Styles
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.users-list {
  padding: 15px 0;
}

.user {
  padding: 5px 10px;
}

.user > strong {
  font-weight: bold;
}

.user > small {
  font-size: 0.8em; color: #999999;
  margin-left: 10px;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  Messages List - Styles
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.messages-list {
  position: absolute; overflow-x: hidden; overflow-y: auto;
  top: 0; right: 0; bottom: 200px; left: 0;

  background-color: whitesmoke;
}

.message {
  padding: 5px;
}

.message-text {
  display: inline-block; padding: 8px 10px;
  box-sizing: border-box; max-width: 70%;
  background-color: gainsboro;
  border-radius: 5px;
}

.message.message--my-message {
  text-align: right;
}

.message.message--my-message .message-text {
  background-color: aquamarine;
}

.message.message--thinking {
  color: grey;
}

.message.message--faded {
  opacity: 0.1;
}

.message.message--highlighted .message-text {
  font-size: 110%;
  background-color: darken(gainsboro, 10%);
}

.message.message--highlighted.message--my-message .message-text {
  background-color: darken(aquamarine, 10%);
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  New Message Input - Styles
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.new-message-input {
  position: absolute; overflow: hidden;
  top: auto; right: 0; bottom: 0; left: 0;

  height: 200px;
  padding: 10px;
  box-sizing: border-box;

  border-top: 1px solid black;
}

.new-message-input > textarea {
  position: absolute;
  top: 0; left: 0;

  min-height: 100%; min-width: 100%;
  max-height: 100%; max-width: 100%;

  padding: 5px; box-sizing: border-box;

  border: none; outline: none;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  Animation - Styles
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.slide-in-from-left-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.slide-in-from-left-appear {
  opacity: 0.01;
  transform: translateX(-100%);
}

.slide-in-from-left-enter.slide-in-from-left-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 150ms ease-in-out;
}

.slide-in-from-left-leave {
  opacity: 1;
  transform: translateX(0);
}

.slide-in-from-left-leave.slide-in-from-left-leave-active {
  opacity: 0.01;
  transform: translateX(-100%);
  transition: all 150ms ease-in-out;
}

.slide-in-from-left-appear.slide-in-from-left-appear-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 150ms ease-in-out;
}

.slide-in-from-right-enter {
  opacity: 0.01;
  transform: translateX(100%);
}

.slide-in-from-right-appear {
  opacity: 0.01;
  transform: translateX(100%);
}

.slide-in-from-right-enter.slide-in-from-right-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 150ms ease-in-out;
}

.slide-in-from-right-leave {
  opacity: 1;
  transform: translateX(0);
}

.slide-in-from-right-leave.slide-in-from-right-leave-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 150ms ease-in-out;
}

.slide-in-from-right-appear.slide-in-from-right-appear-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 150ms ease-in-out;
}
